*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 100%;
    
}
.form .nav{
    width: 50%;
    color: white;
    margin: auto;
    /* border: 2px solid black; */
    text-align: center;
    background-color:rgb(202, 17, 118) ;
    height: 100px;
    padding-top: 30px;
}
.form  .formText{
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
    margin-top: 100px;
}
.form .formText input{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
}
.form .formText .btns{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}
.form .formText .btns button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(202, 17, 118);
    margin-top: 50px;
}
.form .formText .btns button a{
    text-decoration: none;
    color: white;
}
footer{
    width: 100%;
    margin-top: 100px;
}
footer .hrTag{
    width: 90%;
    margin: auto;
}
footer .inner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
footer .inner .side{
    width: 24%;
    color: rgb(202, 17, 118);
}
footer .inner .side2{
    width: 24%;
}

footer .inner .side2 ul li{
    list-style: none;
    padding-top: 15px;
}
footer .inner .side2 ul li a{
    text-decoration: none;
    color: rgb(202, 17, 118);
    font-size: 19px;
}
.innerIcons{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.innerIcons .icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.innerIcons .icon img{
    width: 100%;
}
.innerIcons .empty{
    width: 50%;
    /* border: 2px solid black; */
}
.innerIcons .icons{
    width: 200px;
    /* border: 2px solid black; */
    padding-top: 10px;
}